object_detection/test-images/1.jpg
object_detection/test-images/2.jpg
object_detection/test-images/3.png
object_detection/test-images/4.jpg
object_detection/test-images/4.png
object_detection/test-images/5.jpg
object_detection/test-images/b1.jpg
object_detection/test-images/b2.jpg
object_detection/test-images/b3.jpg
object_detection/test-images/b4.jpg
